body {
    margin: 0;
    background-color: gray;
}
canvas {
    margin-top: 3%;
    margin-left: 25%;
}
#inventory {
    margin-top: 3%;
    margin-left: 25%;
}
button {
    width: 60px;
    height: 60px;
}